# Ignore the tap_tracker.db file in the Client directory
Client/tap_tracker.db
Server/tap_tracker_server.db
Client/service/__pycache__/
Client/repository/__pycache__/
Server/service/__pycache__/
Server/repository/__pycache__/